@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    height: 100vh;
    overflow:hidden
}
/*HEADER*/
span{
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    height: 80px;
}
.logo{
    color: rgb(70, 143, 206);
    font-size: 35px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    margin:0 15px
}
.menu li a{
    text-decoration: none;
    color: #999;
    text-transform: uppercase;
    font-size:14px;
    transition: 0.5;
}
.menu li a:hover{
    color:white;
}
.buy-li{
    border: 1px solid #45d0e4;
    padding:5px 8px
}
.menu .buy-li a {
    color: #45d0e4;
}
.menu .buy-li:hover a{
    color: #45d0e4;
}
/*description section*/
.description{
    height: calc(100vh - 80px);
    padding:0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.left h1{
    font-size: 50px;

}
.left{
    width:60%;
}
.left p {
    color: #999;
    font-size: 14px;
    margin-top:20px;
    margin-bottom: 30px;

}
.left a{
    margin-top:20px;
    border: 1px solid #45d0e4;
    text-transform: uppercase;
    text-decoration: 0;
    color: #45d0e4;
    font-size: 14px;
    padding: 10px 20px;
    transition:0.5s;
}
.left a:hover{
    letter-spacing: 1px;
}
.right{
    width:40%;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
.right img{
    height:500px;
}
/*responsive*/
@media (max-width : 770px){
    header .menu{
        display:none;
    }
    .left{
        background-color: rgba(0, 0, 0, 0.8);
        width:100%;
        padding: 30px;
    }
    .left h1{
        font-size:15px;
    }
    .left p{
        font-size:12px;
    }
    .right{
        z-index: -1;
        position: absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }
}